@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;600;700&display=swap');

/* esas son las fuentes a usar */

/*
| Nombre     | Valor numérico                             |
| ---------- | ------------------------------------------ |
| Regular    | `400`                                      |
| Medium     | `500` *(no todas las variantes la tienen)* |
| Semi Bold  | `600`                                      |
| Bold       | `700`                                      |
| Extra Bold | `800` *(si lo importas)*                   |
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    background-color: #6ED8EE;
    padding: 1px;
    height: 80px;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo-image{
    height: auto;
    width: 89px;
    margin-left: 30px;
    margin-right: 25px;
    border-radius: 4%;
}

.brand-name{
    color: white;
    font-size: 1.30em;
    font-weight: bold;
    font-family: sans-serif;
}

nav ul{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    color: white;
    font-size: 1.3em;
    margin: 0 20px;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: 549;
}

nav a:hover{
    color:darkcyan;
}

#register{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D2F9F6;
    height: 425px;
    padding: 20px;
    flex-wrap: wrap;
}

.mobile-1{
    height: 400px;
    width: 300px;
}

.right-block{
    margin-left: 50px;
    margin-top: 5px;
}

.left-block{
    width: 650px;
    font-family: sans-serif;
    margin-left: 0px;
    align-items: center;
    padding-bottom: 45px;
}

.descripcion{
    color: #7A7A7A;
    font-size: 1.1em;
    margin-bottom: 30px;
    font-family:'Source Sans Pro', sans-serif;
    font-weight: 400;
    width: 400px;
}

.tituloclima{
    color: #F68C30;
    font-family:'Source Sans 3', sans-serif;
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: 700;
}

button{
    border-radius: 5%;
    font: 1em sans-serif;
}

.but1{
    background-color: #5AD8CC;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding: 12px 25px; /* esto es para definir su tamaño*/
    margin-right: 10px; /* esto es para definir su posicion */
    border-radius: 19px; /* esto es para hacerlo redondeado */
    border: 2px solid transparent; /* esto es para colocarle el tamaño del borde */
    transition: all 0.3s ease;
}

.but1:hover{
    background-color: white;
    color: #5AD8CC;
}

.but2{
    background-color: #D2F9F6;
    color: #5AD8CC;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding: 12px 25px;
    margin-right: 10px;
    border-radius: 19px;
    border: 2px solid #5AD8CC;
    transition: all 0.3s ease;
}

.but2:hover{
    background-color: #5AD8CC;
    color:white;
}

/*

.left-header{
    background-color: #6ED8EE;
    text-align: left;
    width: 1455px;
}
*/